In [1]:
import pandas as pd

# Создаем Series s1
s1 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])

# Создаем Series s2
s2 = pd.Series([5, 15, 25, 35], index=['b', 'c', 'd', 'e'])

# Выполняем сложение s1 + s2
result = s1 + s2
print("Результат сложения (с NaN):")
print(result)

# Заменяем NaN на 0
result_filled = result.fillna(0)
print("\nРезультат сложения (NaN заменены на 0):")
print(result_filled)

Результат сложения (с NaN):
a     NaN
b    25.0
c    45.0
d    65.0
e     NaN
dtype: float64

Результат сложения (NaN заменены на 0):
a     0.0
b    25.0
c    45.0
d    65.0
e     0.0
dtype: float64